@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fade-up { 0% { margin-top: 100%; } 100% { margin-top: 0; } }

html, body {
  position: fixed;
  width: 100%; height: 100%;
  left: 0; top: 0;
  margin: 0; padding: 0;
  overflow: hidden;
  
  color: #ffffff;
  background-color: #000000;
  pointer-events: none;
}
body {
  background-image: url('assets/img/bg1.jpg');
  background-size: cover;
  animation: fade-in 1000ms 1 linear;
}

h1 { margin: 0; }
a.link {
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  z-index: 10;
}

.texture1 { background-color: #000000; }
.texture1::before {
  content: '';
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  background-size: cover;
  background-image: url('assets/img/texture3.jpg');
  opacity: 0.45;
  z-index: 0;
}

.colour-adult, .colour-adult-bg { background-color: rgba(0, 255, 255, 0.2); }
.colour-adult, .colour-adult-txt { color: #39d9d9; }
.colour-adult:hover, .colour-adult-bg:hover { background-color: rgba(0, 255, 255, 0.32); }
.colour-adult:hover, .colour-adult-txt:hover { color: #00ffff; }

.colour-ya, .colour-ya-bg { background-color: rgba(255, 255, 0, 0.2); }
.colour-ya, .colour-ya-txt { color: #c1c120; }
.colour-ya:hover, .colour-ya-bg:hover { background-color: rgba(255, 255, 0, 0.32); }
.colour-ya:hover, .colour-ya-txt:hover { color: #ffff00; }

.colour-nf, .colour-nf-bg { background-color: rgba(255, 0, 255, 0.2); }
.colour-nf, .colour-nf-txt { color: #d818d8; }
.colour-nf:hover, .colour-nf-bg:hover { background-color: rgba(255, 0, 255, 0.32); }
.colour-nf:hover, .colour-nf-txt:hover { color: #ff00ff; }

.colour-bio, .colour-bio-bg { background-color: rgba(255, 255, 255, 0.15); }
.colour-bio, .colour-bio-txt { color: #c8c8c8; }
.colour-bio:hover, .colour-bio-bg:hover { background-color: rgba(255, 255, 255, 0.27); }
.colour-bio:hover, .colour-bio-txt:hover { color: #ffffff; }

#text-streams {
  position: fixed; width: 100%; height: 100%; left: 0; top: 0;
  overflow: hidden;
  animation: fade-in 1500ms 1 linear;
  z-index: 0;
}
#text-streams > .text-stream {
  position: absolute;
  white-space: pre;
}

#container {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  animation: fade-in 2500ms 1 linear;
  pointer-events: all;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}
#container > .main {
  display: block;
  position: relative;
  width: 100%; height: 100vh;
}
#container > .main > .content {
  position: absolute;
  width: 82%; height: 82%;
  left: 9%; top: 9%;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5);
}
#container > .main > .content > .branding {
  position: relative;
  text-align: center;
  padding: 45px 20px 45px;
  height: 205px;
  white-space: nowrap;
  z-index: 1;
}
#container > .main > .content > .branding > .logo {
  font-size: 200px;
  line-height: 180px;
  letter-spacing: -20px;
  text-indent: -20px;
  color: #ffffff;
  transform: scale(1.15, 1);
}
#container > .main > .content > .branding > .name {
  font-size: 26px;
  color: #ffffff;
  margin-left: 18px;
  transform: scale(1, 1);
}
#container > .main > .content > .nav {
  position: relative;
  width: 100%;
  height: calc(100% - 305px);
  z-index: 1;
}
#container > .main > .content > .nav > .category {
  position: absolute;
  width: 28%; height: 75%;
  top: 0;
  background-position: center;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  overflow: hidden;
}
#container > .main > .content > .nav > .category > img { z-index: 2; }
#container > .main > .content > .nav > .category > .text {
  position: absolute;
  width: 100%; height: 30px; line-height: 30px;
  left: 0; top: 70%;
  text-align: center;
  font-size: 140%;
  font-weight: bold;
  z-index: 3;
}

#container > .main > .content > .nav > .adult { left: 4%; }
#container > .main > .content > .nav > .adult > img {
  position: absolute;
  width: 90%; left: 5%; bottom: 0;
}

#container > .main > .content > .nav > .ya { left: 36%; }
#container > .main > .content > .nav > .ya > img {
  position: absolute;
  width: 80%; left: 8%; bottom: 23%;
}
#container > .main > .content > .nav > .ya > .text { top: 80%; }

#container > .main > .content > .nav > .nf { left: 68%; }
#container > .main > .content > .nav > .nf > img {
  position: absolute;
  width: 100%; left: 0; top: 16%;
}
#container > .main > .content > .nav > .nf > .text { top: 75%; }

#container > .main > .content > .nav > .bio {
  position: absolute;
  width: 34%; height: 17%;
  left: 33%; bottom: 4%;
  text-align: center;
  white-space: nowrap;
  font-size: 120%;
}
#container > .main > .content > .nav > .bio::before {
  content: '';
  display: inline-block;
  position: relative;
  width: 0; height: 100%;
  vertical-align: middle;
}
#container > .main > .content > .nav > .bio > .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 95%;
}

#container > .content {
  position: relative;
  width: 80%; margin: 0 auto 0;
  background-color: #000000;
}

#container > .section {
  position: relative;
  width: 70%; margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000000;
  box-shadow: 0 0 0 14px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
  text-align: center;
}

/* 3d books */
#container > .section > .book {
  position: relative;
  width: 100%; height: 450px;
  perspective: 33cm;
  perspective-origin: 50% 74%;
  margin-bottom: 30px;
  z-index: 0;
}
#container > .section > .book:hover {
  z-index: 1;
}
#container > .section > .book > .bookElem {
  left: 50%; top: 0; margin-left: -150px;
  position: absolute;
  width: 300px;
  height: 450px;
  transform-origin: 0% 50%;
  transition: margin-left 1000ms ease-in-out, transform 1000ms ease-in-out;
  pointer-events: none;
}
#container > .section > .book:hover > .bookElem { margin-left: 0; }
#container > .section > .book > .cover { z-index: 3; backface-visibility: hidden; }
#container > .section > .book > .page1 { z-index: 2; backface-visibility: hidden; }
#container > .section > .book > .page2 { z-index: 1; }

#container > .section > .book > .cover { transform: rotate3d(0, 1, 0, 0); }
#container > .section > .book:hover > .cover { transform: rotate3d(0, 1, 0, -0.45turn); }

#container > .section > .book > .page1 { transform: rotate3d(0, 1, 0, 0) rotate3d(1, 0, 0, 0.5turn); }
#container > .section > .book:hover > .page1 { transform: rotate3d(0, 1, 0, -0.45turn) rotate3d(1, 0, 0, 0.5turn); }

#container > .section > .book > .page2 { transform: rotate3d(0, 1, 0, 0); }
#container > .section > .book:hover > .page2 { transform: rotate3d(0, 1, 0, -0.05turn); }

#container > .section > .book > .page1 > .content {
  position: absolute;
  width: 100%; height: 100%; left: 0; top: 0;
  padding: 10px; box-sizing: border-box;
  transform: rotate(180deg);
}

#container > .section > .book > .page1,
#container > .section > .book > .page2 {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.2);
  color: #000000;
}

#container > .section > .book.dead-mans-float > .cover {
  background-image: url('assets/img/dead-mans-float.jpg');
  background-size: cover;
}
#container > .section > .book.crescent-star > .cover {
  background-image: url('assets/img/crescent-star.jpg');
  background-size: cover;
}

#container > .section > .book > .data {
  white-space: initial;
  max-width: calc(100% - 300px);
}
#container > .section > .book > .data > .title {
  width: 100%;
  padding: 7px 0;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 100%;
}
#container > .section > .book > .data > .blurb {
  padding: 0 8px;
  font-size: 75%;
}

#container > .section:last-child {
  margin-bottom: 100px;
}

#container > .nav {
  position: absolute;
  background-color: #202020;
  z-index: 3;
  width: 70%; height: 50px;
  padding-left: 50px;
  left: 15%;
  margin: 0; margin-top: 0;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition: margin-top 750ms ease-in-out;
  font-size: 0;
  box-shadow: 0 0 20px 7px rgba(255, 255, 255, 0.35);
}
#container > .nav.hidden { margin-top: 50px; }

#container > .nav > .section.icon {
  position: absolute;
  left: 0; top: 0;
  width: 50px; height: 50px;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 6px #ffffff;
  transition: background-color 200ms linear, color 200ms linear;
}
#container > .nav > .icon > .text {
  width: 50px; height: 50px; line-height: 50px;
}
#container > .nav > .section.icon:hover {
  background-color: #ffffff;
  color: #000000;
}
#container > .nav > .section {
  position: relative;
  display: inline-block;
  width: 25%; height: 50px;
  font-size: 16px;
}
#container > .nav > .section > .text {
  position: absolute;
  width: 100%; height: 50px; line-height: 50px;
  left: 0; top: 0;
}

@media screen and (max-width: 750px) {
  
  #container > .main > .content {
    position: absolute;
    width: calc(100% - 40px); height: calc(100% - 40px);
    left: 20px; top: 20px;
  }
  #container > .main > .content > .nav > .bio {
    width: 80%; left: 10%;
  }
  #container > .main { margin-bottom: 14px; }
  
  #container > .nav { width: 100%; left: 0; }
  
  #container > .section {
    width: calc(100% - 28px);
    margin-bottom: 28px;
  }
  
  #container > .section:last-child { margin-bottom: 62px; }
  
}
