html, body {
	padding: 0;
	margin: 0;
	background-color: #f4f7ff;
	font-family: 'aria' sans-serif;
}
::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

#bg-decor {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	background: url("../img/bg1.jpg") no-repeat center #000000;
}
#logo {
	position: relative;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	background-color: rgba(0, 0, 0, 0.5);
}
#container {
	position: relative;
	z-index: 1;
}
.section {
	display: block;
	position: relative;
	margin: 10px auto 10px auto;
	padding: 10px 20px 10px 20px;
	text-align: center;
	font-family: 'Belleza';
	background-color: rgba(58, 17, 17, 0.43);
	color: #ffffff;
}
.section > p {
	margin-bottom: 50px;
}
.section > h1 {
	text-align: center;
}
.section > .content {
	background-color: rgba(0, 0, 0, 0.1);
	width: 76%;
	margin: 0 auto 0 auto;
	padding: 10px 2% 10px 2%;
}
.top-left {
	position: fixed;
	width: 180px;
	height: 180px;
	left: 0;
	top: 0;
}
.top {
	position: fixed;
	min-width: 100px;
	height: 180px;
	left: 180px;
	top: 0;
	z-index: 4;
}
.left {
	position: fixed;
	width: 180px;
	min-height: 100px;
	left: 0;
	top: 180px;
	padding-top: 10px;
}
.content {
	position: relative;
	margin-left: 180px;
	margin-top: 180px;
	padding: 0 70px 20px 20px;
	min-width: 300px;
	z-index: 2;
}
.left > .nav-button {
	display: block;
	padding-left: 35%;
	width: 65%;
	height: 26px;
	line-height: 26px;
	color: #ffffff;
	text-decoration: none;
	
	-webkit-transition: background-color 400ms ease-in-out;
	   -moz-transition: background-color 400ms ease-in-out;
		-ms-transition: background-color 400ms ease-in-out;
		 -o-transition: background-color 400ms ease-in-out;
			transition: background-color 400ms ease-in-out;
}
.left > .nav-button:hover {
	background-color: rgba(58, 17, 17, 0.43);
}
.book-holder {
	text-align: center;
}

.book-holder > .book {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 400px;
	margin: 0 10px 10px 10px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	
	-webkit-transition: all 400ms ease-in-out;
	   -moz-transition: all 400ms ease-in-out;
		-ms-transition: all 400ms ease-in-out;
		 -o-transition: all 400ms ease-in-out;
			transition: all 400ms ease-in-out;
			
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
}
.book-holder > .book > img {
	position: absolute;
	width: 250px;
	height: auto;
	left: 0;
	top: 0;
	z-index: 1;
}
.book-holder > .book > a {
	position: relative;
	z-index: 2;
}
.book-holder > .book:hover {
	top: -14px;
	box-shadow: 0 0 20px 4px #000000;
	-webkit-transform: scale(1.043);
	   -moz-transform: scale(1.043);
		-ms-transform: scale(1.043);
		 -o-transform: scale(1.043);
			transform: scale(1.043);
}
.book-holder > .book > .book-link {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
.cover {
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;	
}
#locksmith-cover,
#locksmith-book {
	background-image: url("../img/locksmith.jpg");
}
#fortuna-cover,
#fortuna-book {
	background-image: url("../img/fortuna.jpg");
}
#crescent-star-cover,
#crescent-star-book {
	background-image: url("../img/crescent-star.jpg");
}
#laughing-wolf-cover,
#laughing-wolf-book {
	background-image: url("../img/laughing-wolf.jpg");
}
#transmigration-cover,
#transmigration-book {
	background-image: url("../img/transmigration.jpg");
}
#dead-mans-float-cover,
#dead-mans-float-book {
	background-image: url("../img/dead-mans-float.jpg");
}

.book-page {
	display: block;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	pointer-events: none;
	text-decoration: none;
	color: #000000;
	
	-webkit-transition: opacity 400ms ease-in-out;
	   -moz-transition: opacity 400ms ease-in-out;
		-ms-transition: opacity 400ms ease-in-out;
		 -o-transition: opacity 400ms ease-in-out;
			transition: opacity 400ms ease-in-out;
}
.book-page:target {
	opacity: 1;
	pointer-events: auto;
}
.book-page > .backdrop-link {
	display: block;
	width: 100%;
	height: 100%;
}
.book-page > .book-info {
	position: absolute;
	width: 600px;
	height: 500px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -250px;
	background-color: 		rgba(255, 255, 255, 0.76);
	z-index: 1;
}

.book-page > .book-info > .book-top-left {
	position: absolute;
	width: 130px;
	height: 208px;
	left: 10;
	top: 10;
}
.book-page > .book-info > .book-top {
	position: absolute;
	min-width: 100px;
	height: 100px;
	padding-left: 10px;
	left: 150px;
	top: 0;
}
.book-page > .book-info > .book-left {
	position: absolute;
	width: 150px;
	min-height: 100px;
	left: 0px;
	top: 240px;
}
.book-page > .book-info > .book-content {
	position: relative;
	margin-left: 150px;
	margin-top: 100px;
	padding: 10px;
}
.book-content > .book-scroll {
	max-height: 380px;
	overflow-y: auto;
	padding: 0 10px 0 10px;
	box-shadow: inset 0 0 10px 2px;
	background-color: #ffffff;
}

.book-page > .book-info > .book-info-section > p {
	font-family: serif;
}
.book-page > .book-info > .book-info-section > p:before {
	content: "";
	display: inline-block;
	width: 20px;
}